
//librairies
@import "librairies/_reset.scss";
@import "librairies/font-awesome/font-awesome.scss";

//tools
@import "tools/_vars.scss";
@import "tools/_mixins.scss";
@import "tools/_base.scss";

//pages
@import "components/_index.scss"
